data_dir: "{{ vector_data_dir }}"

sources:
  syslog:
    type: file
    include:
      - /var/log/syslog
    read_from: beginning

sinks:
  console:
    type: console
    inputs:
      - syslog
    encoding:
      codec: json